<html>
    <body>
    	
       <p> Your registration is complete when you <a href="${model.getHostNameUrl()}/${model.getEncodedToken()}">click here</a> to validate your email address.</p>
              

       
    </body>
</html>